* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background: #eee;
    font-weight: 400;
    color: #222;
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 50px;
    display: flex;
}

#container {
    max-width: 700px;
    background: #fff;
    margin: 0 auto 0;
    box-shadow: 1px 1px 2px #DAD7D7;
    border-radius: 3px;
    padding: 60px 60px 60px 60px;
    margin-top: 50px;
    border-radius: 10px;
    border: 2px solid black;
}

#button-4 {
    appearance: none;
    background-color: #596877;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px black;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    height: 50px;
    margin-top: 50px;
    margin-left: 30px;
  }
  
  #button-4:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    color: black;
    transition-duration: 0.1s;
  }
  
  #button-4:disabled {
    background-color: #FAFBFC;
    border-color: rgba(61, 63, 65, 0.15);
    color: #000000;
    cursor: default;
  }
  
  #button-4:active {
    background-color: #EDEFF2;
    box-shadow: rgba(10, 11, 12, 0.2) 0 1px 0 inset;
    transition: none 0s;
    
  }
  
  #button-4:focus {
    outline: 2px transparent;
  }
  
  #button-4:before {
    display: none;
  }
  
  #button-4:-webkit-details-marker {
    display: none;
  }



.header {
    margin-bottom: 6px;
    display: flex;
    align-items: center;

    .info {
        align-items: left;
        margin-right: 125px;
    }

    .full-name {
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .contact-info {
        margin-bottom: 0px;
    }

    .profile {
        width: 150px;
        height: 150px;
    }

    .position {
        font-weight: bold;
        display: inline-block;
        margin-right: 10px;
        text-decoration: underline;
    }
}

.divider {
    border-bottom: 2px solid black;
    width: 580px;
    margin-bottom: 20px;
}

.about {
    margin-bottom: 20px;
}

.details {
    line-height: 20px;

    .section {
        margin-bottom: 40px;
    }

    .section:last-of-type {
        margin-bottom: 0px;
    }

    .section__title {
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .section__list-item {
        margin-bottom: 40px;
    }

    .section__list-item:last-of-type {
        margin-bottom: 0;
    }

    .left,
    .right {
        vertical-align: top;
        display: inline-block;
    }

    .left {
        width: 60%;
    }

    .right {
        text-align: right;
        width: 39%;
    }

    .name {
        font-style: italic;
    }

    a {
        text-decoration: none;
        color: #000;
        font-style: italic;
    }

    a:hover {
        text-decoration: underline;
        color: #000;
    }


}